<ion-header>
  <ion-navbar>
    <ion-title>
      Mappi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="mappi-page">
  <ion-segment class="h-scroll"
    [(ngModel)]="selectedCity" color="primary">
    <ion-segment-button
      *ngFor="let name of names"
      value="{{name}}"
      (ionSelect)="getMap(name)">
      {{name}}
    </ion-segment-button>
  </ion-segment>
  <div>
    <p>Google Maps visualizations</p>
    <map-google
        #mapCtrl
        [center]="mapCenter"
        [zoom]="mapZoom"
        [viz]="xxxviz"
        [data]="xxxdata"
        [(sebmMarkers)]="sebmMarkers"
        (boundsChange)="boundsChange($event)"
        (markerClick)="markerClick($event)"
      ></map-google>
    <div>
      <button ion-button color="primary"
        (click)="showMarkers()">Markers</button>
      <button ion-button color="primary"
        (click)="toggleHeatmap()">Heat Map</button>
      <button ion-button color="primary"
        (click)="toggleClusterer()">Cluster Map</button>
      <button ion-button color="primary"
        (click)="showRoute()">Show Route</button>
    </div>
    <div id="map-panel"></div>

    <ion-card *ngIf="photos.length">
      <img [src]="photos[0].src"/>
      <ion-card-content>
        <ion-card-title>
          {{photos[0].filename}}
        </ion-card-title>
        <p> {{photos[0].uuid}} </p>
        <p> {{photos[0].localTime}} </p>
      </ion-card-content>
    </ion-card>

    <div class="details" *ngIf="selectedDetails.length">
      <h2>Details</h2>
      <div class="body">
        <pre *ngFor="let msg of selectedDetails">{{msg | json}}</pre>
      </div>
    </div>
  </div>
</ion-content>
