<ion-header>
  <ion-navbar>
    <ion-title>
      Mappi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="mappi-page">
  <ion-segment class="h-scroll"
    [(ngModel)]="selectedCity" color="primary">
    <ion-segment-button
      *ngFor="let place of destinations"
      value="{{place.label}}"
      (ionSelect)="getMap(place, true)">
      {{place.label}}
    </ion-segment-button>
  </ion-segment>
  <div>
    <p>Google Maps visualizations</p>
    <map-google
        #mapCtrl
        [center]="mapCenter"
        [zoom]="mapZoom"
        [viz]="xxxviz"
        [data]="xxxdata"
        [(sebmMarkers)]="sebmMarkers"
        (mapBoundsChange)="mapBoundsChange($event)"
        (markerClick)="markerClick($event)"
      ></map-google>
    <div>
      <button ion-button color="primary"
        (click)="showMarkers()">Markers</button>
      <button ion-button color="primary"
        (click)="toggleHeatmap()">Heat Map</button>
      <button ion-button color="primary"
        (click)="toggleClusterer()">Cluster Map</button>
      <button ion-button color="primary"
        (click)="showRoute()">Show Route</button>
    </div>
    <div id="map-panel"></div>

    <ion-card *ngIf="this.selected">
      <img [src]="this.selected.src"/>
      <ion-card-content>
        <ion-card-title>
          {{this.selected.filename}}
        </ion-card-title>
        <p> {{this.selected.uuid}} </p>
        <p> {{this.selected.localTime}} </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
